body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.error {
    color: red;
    font-weight: bold;
}

.weather-card {
    background: #007BFF;
    color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.city-buttons .btn {
    font-size: 14px;
    padding: 5px 10px;
}

.city-icon {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}